{% extends "base.html" %}
{% load static %}

{% block title %}Nora's dashboard{% endblock %}

{% block content %}
 
<h1>Nora's dashboard</h1>
 
<div>
  <h2>Today's menu ({{ today }})</h2>
    {% if today_menu %}

      <h4>Status: {{ today_menu.status_str }}</h4>
        {% if today_menu.out_of_limit %}
          <p>Out of limit to choose menu preferences</p>
        {% else %}
          <p>Limit to preferer: {{ prefer_limit }} hrs.</p>
          <a href="{% url 'meals:' %}"
            role="button" class="btn btn-primary">Enviar recordatorio</a>
          {% if today_menu.announced %}
          <p>It has already been sent before</p>
          {% endif %}
        {% endif %}
      <h4>Lunches chosen by employees</h4>
      <ul class="list-group">
      {% for meal in meals %}
        <li class="list-group-item">
          {{ meal.employee.username }}: {{ meal.plate.short_desc }}
        </li>
      {% endfor %}
      </ul>
      {% if without_prefer %}
        <h4>Waiting for the following employees:</h4>
          <ul class="list-group">
          {% for employee in without_prefer %}
            <li class="list-group-item">{{ employee.username }}</li>
          {% endfor %}
          </ul>
      {% endif %}

   {% else %}
      <p>There is no menu for today, please create one.</p>
   {% endif %}
</div>
<div>
  <h2>All menus</h2>
    <a href="{% url 'meals:menu-create' %}"
       role="button" class="btn btn-primary">Create menu</a>
    {% if menus %}
      {% for menu in menus %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{menu.date}}</h5>
            <h6 class="card-subtitle text-muted">
              Status: {{menu.status_str}}
            </h6>
          </div>
        </div>
    {% endfor %}
   {% else %}
    <p>No menus in the system.</p>
   {% endif %}
 </div>

 <div>
   <h2>All plates</h2>
   <a href="{% url 'meals:plate-create' %}"
   role="button" class="btn btn-primary">Create plate</a>
   {% if plates %}
    <ul class="list-group">
      {% for plate in plates %}
      <a class="list-group-item list-group-item-action"
        href="{% url 'meals:plate-update' plate.pk%}"
      >{{ plate.short_desc }}</a>
      {% endfor %}
    </ul>

   {% else %}
    <p>No plates in the system.</p>
   {% endif %}
 </div>

{% endblock content %}
